a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}

.card	{color: black}

.wrapper {
	width: 950;padding: 50px 10px;
    min-height: 100%;
    margin: 0 auto -155px;
}